-----BEGIN RSA PRIVATE KEY-----
# INSTRUCTIONS: 
# 1. Generate your own RSA private key.
# 2. Replace this entire text with your actual private key content.
# 3. Rename this file to 'private_key.pem'
-----END RSA PRIVATE KEY-----
